$fontSizeXs: 10px;
$fontSizeSm: 12px;
$fontSizeMd: 13px;
$fontSizeLg: 15px;

$charade: #282c37;
$alabaster: #f7f7f7;
$white: #ffffff;
$mystic: #eff3f5;
$chetwodeBlue: #7289da;
$heather: #c0cdd9;
$darkMystic: #e6ebf0;
$darkerMystic: #d9e1e8;
$comet: #606984;

$lightText: lighten($charade, 5%);
