@use './variables' as *;
@use './breakpoints' as *;

.app {
	background-color: $mystic;
	width: 100%;
	min-height: 100vh;
	position: relative;
	@include breakpoint(sm) {
		max-width: 630px;
		min-width: calc(100% - 284px);
	}
	@include breakpoint(xs) {
		min-width: 100vw;
	}
	.main {
		max-width: 600px;
		display: block;
		@include breakpoint(sm) {
			min-width: 100%;
		}
		@include breakpoint(xs) {
			max-width: 100vw;
		}
	}
}
