@use './variables' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $darker;
}

.layout {
	width: 1174px;
	margin: 0 auto;
	display: flex;
	position: relative;
	.left-sidebar,
	.right-sidebar {
		width: 287px;
		min-width: 287px;
		padding: 0 15px;
		position: sticky;
		top: 10px;
		height: calc(100vh - 10px);
		z-index: 9999;
		.disclaimer {
			color: lightgray;
			font-size: 11px;
			position: absolute;
			padding: 0 5px;
			bottom: 20px;
			display: flex;
			flex-direction: column;
			gap: 1rem;
			left: 0;
			p {
				a {
					color: lightgray;
				}
			}
		}
	}
}
