@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;

.overlay {
	@include overlay();
	z-index: 9999;
}
.gifs {
	width: fit-content;
	min-height: 600px;
	position: absolute;
	z-index: 9999;
	top: 100px;
	padding: 2rem 0;
	&::-webkit-scrollbar {
		width: 7px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	&::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}

	z-index: 99999;
	overflow-x: hidden;
	background-color: $white;
	border-radius: 4px;
	outline: 1px solid $heather;
	width: 500px;
	max-height: 500px;
	max-width: 500px;
	overflow-y: auto;
	padding: 10px 0;

	.search {
		position: sticky;
		top: 0;
		background-color: $white;
		z-index: 99999999;
		padding: 10px 1rem;
		width: 100%;

		input {
			background-color: $charade !important;
			border: 1px solid #dadada;
			color: $mystic;
		}
	}

	.gifGrid {
		height: 450px;
	}
}
