@use '@/app/styles/mixins' as *;
@use '@/app/styles/variables' as *;
@use '@/app/styles/breakpoints' as *;

.main {
	@include page();
	padding-bottom: 0;
	.content {
		border: 1px solid $heather;
		border-top: 0;
		min-height: calc(100vh - 4rem - 1px);
		.labels {
			height: 45px;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 15px;
			font-size: $fontSizeSm;
			border-bottom: 1px solid $heather;
			.placement,
			.wins,
			.losses {
				width: 50px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.placement {
				justify-content: flex-start;
				@include breakpoint(xs) {
					width: 30px;
				}
			}
			.user {
				width: 205px;
				flex: 1;
			}
			.points {
				width: 60px;
			}
		}
		.users {
			display: flex;
			flex-direction: column;

		}
	}
}

.loading {
	@include page();
	padding-bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid $heather;
}
