@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.feedHeader {
	font-weight: 500;
	position: sticky;
	top: 0px;
	z-index: 2;
	border-bottom: 1px solid $border;
	padding-top: 20px;
	background-color: $darker;
	@include breakpoint(xs) {
		padding-top: 0;
	}
	.header {
		background-color: lighten($dark, 7%);
		height: 45px;
		@include breakpoint(xs) {
			height: 55px;
		}
		display: flex;
		align-items: center;
		padding: 0 15px;
		gap: 5px;
		background-color: $dark;
		.mobile {
			display: none;
			@include breakpoint(xs) {
				display: flex;
				margin-left: auto;
				gap: 10px;
				align-items: center;
				border: 1px solid $border;
				padding: 4px 8px;
				border-radius: 22px;
				background-color: lighten($dark, 5%);
				cursor: pointer;

				img {
					max-width: 20px;
					max-height: 20px;
					border-radius: 50% !important;
					outline: 1px solid $light;
				}
			}
			button {
				width: fit-content;
				font-size: $fontSizeLg;

				&:hover {
					background-color: lighten($accent, 5%);
				}
			}
			svg {
			}
		}

		.back,
		.label {
			cursor: pointer;
			color: $light;
			text-decoration: none;
			font-weight: 500;
		}
		.back {
			color: $accent;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
