@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.feedHeader {
	font-weight: 500;
	position: sticky;
	top: 0px;
	z-index: 2;
	padding-top: 20px;
	transition: all 100ms ease-in-out;
	background-color: $mystic;
	@include breakpoint(sm) {
		background-color: $darkerMystic;
		padding-top: 0;
		width: 100%;
		top: 50px;
	}
	@include breakpoint(xs) {
		padding-top: 0;
		top: 0;
	}
	.header {
		background-color: lighten($white, 7%);
		height: 45px;
		border: 1px solid $heather;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		@include breakpoint(sm) {
			border-top: 0;
			border-radius: 0;
		}
		@include breakpoint(xs) {
			height: 55px;
		}
		display: flex;
		align-items: center;
		padding: 0 15px;
		gap: 5px;
		background-color: $white;
		.mobile {
			display: none;
			margin-left: auto;
			align-items: center;
			border: 1px solid $heather;
			padding: 4px 8px;
			border-radius: 22px;
			background-color: lighten($white, 5%);
			cursor: pointer;
			gap: 5px;
			img {
				max-width: 20px;
				max-height: 20px;
				border-radius: 50% !important;
				border: 1px solid $charade;
			}
			@include breakpoint(xs) {
				display: flex;
			}
			@include breakpoint(sm) {
				display: none;
			}
			strong {
				color: $charade;
				font-weight: 500;
				font-size: $fontSizeSm;
				@include breakpoint(xs) {
					display: none;
				}
			}
			button {
				width: fit-content;
				font-size: $fontSizeLg;

				&:hover {
					background-color: lighten($chetwodeBlue, 5%);
				}
			}
			svg {
				margin-left: 10px;
			}
		}

		.back,
		.label {
			cursor: pointer;
			color: $charade;
			text-decoration: none;
			font-weight: 500;
		}
		.back {
			color: $chetwodeBlue;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
