@use '@/app/styles/mixins' as *;
@use '@/app/styles/variables' as *;

.main {
	@include page();
	padding-bottom: 0;
	.content {
		border: 1px solid $heather;
		border-top: 0;
		padding-bottom: 2rem;
	}
	.loading {
		padding-bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $heather;
		height: calc(100vh - 3rem - 1px);
	}
}
