@use '@/app/styles/variables' as *;

.peopleBox {
	width: 100%;
	padding: 10px;
	display: flex;
	gap: 1rem;
	flex-direction: column;
	position: relative;
	margin-bottom: 1rem;
	&:hover {
		background-color: lighten($white, 15%);
		cursor: pointer;
	}
}
