@use '../../../styles/_variables.scss' as *;
@use '../../../styles/_breakpoints.scss' as *;

.postFeed,
.mainPostFeed {
	background-color: $white;
	color: $charade;
	height: 100%;
	min-height: calc(100vh - 50px);
	display: block;
	border: 1px solid $heather;
	border-top: none;

	@include breakpoint(xs) {
		min-height: 100vh;
		top: 0px;
		position: relative;
	}
}

.mainPostFeed {
	@include breakpoint(sm) {
		min-height: calc(100vh - 50px);
		top: 0px;
		position: relative;
	}
}
