@use '@/app/styles/variables' as *;

.input {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;

	.labelLogo {
		display: flex;
		gap: 10px;
	}

	label {
		display: flex;
		justify-content: flex-start;
		font-size: 14px;
	}
	input {
		height: 45px;
		background-color: $white;
		border: none;
		padding: 10px;
		font-size: 14px;
		color: $charade;
		border-radius: 4px;
		&::placeholder {
			color: $charade;
		}
		&:focus {
			outline: 2px solid $chetwodeBlue;
		}
	}
}
