@use '../../../../styles/variables' as *;

.postCardHeader {
	display: flex;
	gap: 15px;
	.displayName {
		display: flex;
		flex-direction: column;
		gap: 3px;
		strong {
			font-weight: 500;
			font-size: $fontSizeLg;
		}
		span {
			font-weight: 300;
			color: $lightText;
			font-size: $fontSizeMd;
		}
	}
	.menu {
		margin-left: auto;
		display: flex;
		gap: 5px;
		align-items: center;
		height: fit-content;
		position: relative;
		.createdAt {
			color: $lightText;
			font-weight: 300;
			font-size: $fontSizeMd;
		}
		svg {
			cursor: pointer;
		}
	}
}
