@use '../../../../styles/variables' as *;

.postCardHeader {
	display: flex;
	gap: 15px;
	.displayName {
		display: flex;
		flex-direction: column;
		gap: 3px;
		strong {
			font-weight: 500;
			font-size: $fontSizeLg;
		}
		span {
			font-weight: 300;
			color: $lightText;
			font-size: $fontSizeMd;
		}
	}
	.createdAt {
		margin-left: auto;
		color: $lightText;
		font-weight: 300;
		font-size: $fontSizeMd;
	}
}
