@use '@/app/styles/_variables.scss' as *;
@use '@/app/styles/_breakpoints.scss' as *;

.postCard {
	min-height: 152.14px;
	width: 100%;
	border-bottom: 1px solid $heather;
	padding: 15px;
	font-size: $fontSizeLg;
	display: flex;
	flex-direction: column;
	gap: 15px;
	position: relative;
	.postBody {
		display: flex;
		flex-direction: column;
		gap: 10px;
		.win,
		.loss {
			padding: 1px 3px;
			border-radius: 4px;
			max-width: fit-content;
			text-transform: uppercase;
			font-weight: 500;
			font-size: $fontSizeMd;
		}
		.loss {
			background: rgba(223, 64, 90, 0.1);
			border: 1px solid rgba(223, 64, 90, 0.5);
			color: #df405a;
		}
		.win {
			background: rgba(35, 138, 103, 0.1);
			border: 1px solid rgba(35, 138, 103, 0.5);
			color: #238a67;
		}
	}
	.postPhoto,
	.postGif {
		max-height: 400px;
		position: relative;
		max-width: 100%;

		img {
			max-height: 400px;
			position: relative !important;
			width: 100%;
			border-radius: 4px;
			object-fit: cover;
			cursor: zoom-in;
		}
	}
	.postGif {
		max-height: 600px;
		img {
			max-height: 600px;
			position: relative !important;
			width: 100%;
			border-radius: 4px;
			object-fit: cover;
			cursor: zoom-in;
		}
	}
	.taggedUsername {
		color: #3a3bff;
		text-decoration: none;
	}
}
