@use '../../../styles/_variables.scss' as *;
@use '../../../styles/_breakpoints.scss' as *;

.postCard {
	min-height: 152.14px;
	width: 100%;
	border-bottom: 1px solid $lighter;
	padding: 15px;
	font-size: $fontSizeLg;
	display: flex;
	flex-direction: column;
	gap: 15px;
	position: relative;
	.postPhoto,
	.postGif {
		max-height: 400px;
		position: relative;
		max-width: 100%;

		img {
			max-height: 400px;
			position: relative !important;
			width: 100%;
			border-radius: 4px;
			object-fit: cover;
			cursor: zoom-in;
		}
	}
	.postGif {
		max-height: 600px;
		img {
			max-height: 600px;
			position: relative !important;
			width: 100%;
			border-radius: 4px;
			object-fit: cover;
			cursor: zoom-in;
		}
	}
}
