@use '../../../../styles/variables' as *;

.overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
}
.postCardMenu {
	background-color: #d9e1e8;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	color: $dark;
	height: fit-content;
	padding: 5px 0;
	width: 140px;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	font-size: $fontSizeSm;
	z-index: 99;
	.option {
		padding: 5px 15px;
		&:hover {
			background-color: $accent;
			color: $light;
			cursor: pointer;
		}
	}
	.divider {
		background-color: lightgray;
		height: 1px;
		margin: 5px 0;
	}
}
