@use '../../styles/variables' as *;

.input {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;

	.labelLogo {
		display: flex;
		gap: 10px;
	}

	label {
		display: flex;
		justify-content: flex-start;
		font-size: 14px;
	}
	input {
		height: 45px;
		background-color: #131419;
		border: none;
		padding: 10px;
		font-size: 14px;
		color: #9ab9c4;
		border-radius: 4px;
		&::placeholder {
			color: lightgray;
		}
		&:focus {
			outline: 2px solid $accent;
		}
	}
}
