@use '@/app/styles/variables' as *;
@use '@/app/styles/breakpoints' as *;

.mobileNavbar {
	display: none;
	width: 140px;
	background-color: $white;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	color: $charade;
	height: fit-content;
	border-radius: 4px;
	position: absolute;
	right: 1rem;
	top: 50px;
	overflow: hidden;
	padding: 5px 0;
	border: 1px solid $heather;
	@include breakpoint(sm) {
		display: none;
	}
	@include breakpoint(xs) {
		display: flex;
	}
	.links {
		display: flex;
		flex-direction: column;
		width: 100%;
		a,
		p {
			text-decoration: none;
			color: $charade;
			font-size: $fontSizeMd;
			padding: 10px;
			cursor: pointer;
			&:hover {
				background-color: $chetwodeBlue;
				color: $white;
				cursor: pointer;
			}
		}
	}
}
