@use '../../../styles/variables' as *;

.userFeed {
	background-color: $white;
	color: $charade;
	height: 100%;
	padding: 20px 0;
	padding-top: 5px;
	.user {
		display: flex;
		padding: 20px 15px;
		gap: 10px;
		border-bottom: 1px solid $heather;
		&:hover {
			cursor: pointer;
			.displayName {
				strong {
					text-decoration: underline;
				}
			}
		}
		.displayName {
			display: flex;
			flex-direction: column;
			gap: 3px;
			strong {
				font-weight: 500;
				font-size: $fontSizeLg;
			}
			span {
				font-weight: 300;
				color: $lightText;
				font-size: $fontSizeMd;
			}
		}
	}

	.noResultsMessage {
		width: 100%;
		height: calc(100vh - 4rem - 55px);
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
	}
}
