@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins' as *;
@use '@/app/styles/breakpoints' as *;

.overlay {
	@include overlay();
}

.popup,
.hidePopup {
	background-color: $white;
	border-radius: 12px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	width: 500px;
	padding: 1rem;
	transition: 300ms ease-in-out;
	position: fixed;
	opacity: 1;
	min-height: fit-content;
	border: 1px solid $heather;

	@include breakpoint(xs) {
		width: 100vw;
		height: 100vh;
		border-radius: 0;
	}
	.header {
		display: flex;
		align-items: center;
		position: relative;
		justify-content: flex-end;
		svg {
			font-size: 1.2rem;
			cursor: pointer;
		}
	}
	.title {
		font-size: 12px;
	}
	.footer {
		display: flex;
		align-items: center;
		gap: 10px;
		justify-content: flex-end;
		button {
			max-width: fit-content;
			margin: 1rem 0;
		}
	}
}

.hidePopup {
	transform: translateY(300px);
	opacity: 0;
}
