@use '@/app/styles/variables' as *;
@use '@/app/styles/breakpoints' as *;

.nav {
	width: 100vw;
	background-color: $darkerMystic;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	width: 100vw;
	z-index: 9999;
	border-bottom: 1px solid $heather;
	@include breakpoint(sm) {
		display: flex;
		align-items: center;
		padding: 0 1rem;
	}
	@include breakpoint(xs) {
		display: none;
	}
	strong {
		font-size: 18px;
	}
}
