@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.main {
	@include page();
	padding-bottom: 0;
	.content {
		height: calc(100vh - 4rem - 1px);
		border: 1px solid $heather;
		border-top: 0;
	}
	.noBlocksMessage {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $fontSizeLg;
		padding: 20px;
		text-align: center;
	}
}
