@use '../../styles/variables' as *;

.button {
	padding: 10px 20px;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	gap: 5px;
	width: 100%;
	justify-content: center;
	background-color: $chetwodeBlue;
	color: $charade;
	position: relative;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	color: $white;

	&:hover {
		background-color: lighten($chetwodeBlue, 5%);
	}
	&:disabled {
		background-color: lighten($white, 1%) !important;
		color: $charade;
		cursor: default !important;
	}
	&:focus {
		outline: 2px solid $chetwodeBlue !important;
	}
	.buttonIcon {
		position: absolute;
		left: 10px;
	}
}
