@use '../../styles/variables' as *;

.button {
	padding: 10px 20px;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	gap: 5px;
	width: 100%;
	justify-content: center;
	background-color: $accent;
	color: $light;
	position: relative;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	&:hover {
		background-color: lighten($accent, 5%);
	}
	// &:disabled {
	// 	background-color: lighten($lighter, 1%) !important;
	// 	cursor: default !important;
	// 	&:hover {
	// 		background-color: red;
	// 	}
	// }
	&:focus {
		outline: 2px solid $accent !important;
	}
	.buttonIcon {
		position: absolute;
		left: 10px;
	}
}
