@use '@/app/styles/variables' as *;

.selector {
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 1rem;
	.sport,
	.sportHideOnMobile,
	.selectedSport,
	.selectedSportHideOnMobile {
		border-radius: 22px;
		font-size: $fontSizeLg;
		text-transform: uppercase;
		cursor: pointer;
		color: lighten($charade, 15%);
		font-weight: 600;

		&:hover {
			color: $charade;
		}
	}
	.selectedSport {
		color: $charade;
		// border: 1px solid $charade;
		font-weight: 600;
		text-decoration: underline;
		text-decoration-thickness: 4px;
	}
}
