@use '../styles/mixins' as *;
@use '../styles/variables' as *;

.page {
	min-width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $darker;
}
