@use '../../../styles/variables' as *;

.match {
	padding: 2rem 1rem;
	border-bottom: 1px solid $border;
	max-width: 100%;
	flex: 1 1 calc(50% - 20px);
	position: relative;
	transition: all 200ms ease-in-out;

	&:nth-of-type(odd) {
		&::after {
			width: 1px;
			background: $border;
			top: 35px;
			bottom: 35px;
			right: -0px;
			position: absolute;
			content: '';
			z-index: 999;
		}
	}
	.content {
		padding: 10px;
		text-decoration: none;
		color: $light;
		display: flex;
		flex-direction: column;
		gap: 10px;
		height: 134px;
		justify-content: center;
		&:hover {
			background-color: lighten($dark, 5%);
		}
		.lowerTeam,
		.upperTeam {
			display: flex;
			align-items: center;
			gap: 10px;

			strong {
				font-weight: 500;
			}
			span {
				font-size: $fontSizeXs;
				position: relative;
				top: -5px;
				left: -5px;
			}
			.score {
				margin-left: auto;
			}
		}
	}
}
