@use '../../../../styles/variables' as *;
@use '../../../../styles/breakpoints' as *;

.postCardFooter {
	height: fit-content;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	.icon,
	.mobileIcon,
	.replyIcon {
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 5px;
		border-radius: 4px;
		&:hover {
			background-color: lighten($white, 5%);
			cursor: pointer;
		}
		span {
			font-size: $fontSizeSm;
			color: $comet;
		}
		.bookmarked {
			fill: $chetwodeBlue;
			color: $chetwodeBlue;
		}
		.liked {
			fill: #20b46a;
			color: #20b46a;
		}
	}

	.replyIcon {
		@include breakpoint(sm) {
			display: none;
		}
		@include breakpoint(xs) {
			display: none;
		}
	}

	.mobileIcon {
		display: none;
		text-decoration: none;
		@include breakpoint(sm) {
			display: flex;
		}
		@include breakpoint(xs) {
			display: flex;
		}
	}
}
