@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.nav {
	width: 100%;
	height: fit-content;
	margin-top: 10px;
	padding: 0 10px;
	@include breakpoint(sm) {
		display: flex;
	}
	.logo {
		height: 55px;
		display: flex;
		align-items: center;
		font-size: 22px;
		color: $charade;
		border-bottom: 1px solid $heather;
		padding-bottom: 10px;
	}
	.links {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid $heather;
		padding: 1rem 0;
		.link {
			padding: 15px 0;
			display: flex;
			gap: 10px;
			align-items: center;
			height: 48px;
			svg {
				font-size: 16px;
			}
			a {
				color: $charade;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: $charade;
				}
			}
		}
	}
}
