@use '@/app/styles/mixins' as *;
@use '@/app/styles/variables' as *;

.main {
	@include page();
	padding-bottom: 0;
	.noFavoritesMessage {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $fontSizeLg;
		padding: 20px;
		text-align: center;
		height: calc(100vh - 4rem - 1px);
		border: 1px solid $heather;
		border-top: none;
		border-bottom: none;
	}
}
