@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.main {
	@include page();
	padding-bottom: 0;
	.content {
		padding: 1rem;
		border: 1px solid $heather;
		border-top: 0;
		height: calc(100vh - 4rem - 1px);
		.userHeader {
			display: flex;
			padding: 2rem 0;
			gap: 10px;
			.displayName {
				display: flex;
				flex-direction: column;
				gap: 3px;
				strong {
					font-weight: 500;
					font-size: $fontSizeLg;
				}
				span {
					font-weight: 300;
					color: $lightText;
					font-size: $fontSizeMd;
				}
			}
		}
	}
}
