@use '@/app/styles/variables' as *;

.betContainer {
	padding: 10px 1rem;
	background-color: $alabaster;
	border: 1px solid $heather;
	width: 100%;
	border-radius: 4px;
	.bet {
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-size: $fontSizeMd;
		position: relative;
		.displayName {
			display: flex;
			align-items: center;
			gap: 5px;
		}
		.type {
			display: flex;
			gap: 5px;
		}
		.wager {
			display: flex;
			gap: 10px;
			strong {
				color: #20b46a;
			}
		}
		.odds {
			background-color: lighten($white, 15%);
			border: 1px solid $heather;
			padding: 8px 20px;
			border-radius: 4px;
			font-weight: 600;
			margin-left: auto;
			width: 60px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #20b46a;
			position: absolute;
			right: 0;
			top: 0;
			font-size: $fontSizeLg;
		}
		.description {
			font-style: italic;
		}
		a {
			color: $charade;
		}
	}
	.disclaimer {
		font-size: 10px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-top: 25px;
		color: $lightText;
	}
}
