@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.inputContainer {
	background-color: $darkMystic;
	height: 45px;
	width: 100%;
	margin-top: 10px;
	position: relative;
	transition: all 200ms ease-in-out;
	border: 1px solid $heather;
	border-radius: 4px;
	@include breakpoint(sm) {
		margin-top: 0;
	}
	input {
		height: 45px;
		width: 100%;
		background: transparent;
		outline: none;
		border: none;
		padding: 10px;
		color: $charade;
		&::placeholder {
			color: $lightText;
		}
		&:focus {
			&::placeholder {
				display: none;
			}
		}
	}
	svg {
		position: absolute;
		right: 10px;
		top: 0;
		height: 45px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		fill: $lightText;
	}
}
