@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.gamebarWrapper {
	position: relative;

	height: 105px;
	.gamebar {
		width: 600px;
		height: 105px;
		position: relative;
		background-color: $white;
		padding: 10px;
		border: 1px solid $heather;
		border-top: 0;
		overflow-x: hidden;
		@include breakpoint(sm) {
			background-color: $mystic;
			left: unset;
			transform: unset;
			border-bottom: 1px solid $heather;
			width: 100%;
			overflow-x: hidden;
			border-right: 1px solid $heather;
		}
		@include breakpoint(xs) {
			background-color: $white;
			position: relative;
			overflow-x: auto;
			&::-webkit-scrollbar {
				display: none;
			}
		}

		.content {
			width: fit-content;
			height: 100%;
			display: flex;
		}
	}
	.scroller {
		display: none;
	}
	&:hover {
		.scroller {
			display: flex;
			// background-color: #e8edfc;
			background-color: rgba(191, 196, 241, 0.8);

			position: absolute;
			right: 0;
			height: 100%;
			top: 0;
			width: 50px;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			border-bottom: 1px solid $heather;
			border-right: 1px solid $heather;
			display: none;
		}
	}
}
