@use '@/app/styles/variables' as *;

.currentUserBox {
	width: 100%;
	height: fit-content;
	display: flex;
	gap: 10px;
	color: $charade;
	padding: 25px 15px;
	position: relative;
	.user {
		.displayName {
			display: flex;
			gap: 3px;
			align-items: center;
			strong {
				font-weight: 600;
				font-size: $fontSizeMd;
			}
			span {
				font-weight: 500;
				color: $lightText;
				font-size: $fontSizeSm;
			}
		}
		.balance {
			display: flex;
			align-items: center;
			font-weight: 500;
			font-size: $fontSizeMd;
			color: #4a4de7;
		}
	}

	.menuButton {
		margin-left: auto;
		position: relative;
		left: 2px;
		cursor: pointer;
		padding: 2px;
		display: flex;
		align-items: center;
		border-radius: 3px;
		&:hover {
			background-color: lighten(white, 10%);
		}
	}
}

.overlay {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
}
.currentUserMenu {
	background-color: $alabaster;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	height: fit-content;
	padding: 5px 0;
	width: 130px;
	border-radius: 4px;
	position: absolute;
	right: 30px;
	font-size: $fontSizeSm;
	z-index: 99;
	display: flex;
	flex-direction: column;
	border: 1px solid $heather;
	.option {
		padding: 5px 15px;
		min-width: 130px;
		text-decoration: none;
		color: $charade;
		&:hover {
			background-color: $chetwodeBlue;
			color: $white;
			cursor: pointer;
		}
	}
	.divider {
		background-color: lightgray;
		height: 1px;
		margin: 5px 0;
	}
}
