@use '../../styles/variables' as *;

.postPreview {
	width: calc(100% - 20px);
	margin: 0 auto;
	height: fit-content;
	max-height: 300px;
	padding: 10px;
	border-radius: 4px;
	font-size: 13px;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	position: relative;
	gap: 10px;
	margin-bottom: 20px;
	color: $charade;
	border: 1px solid $heather;
	.close {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
		padding: 2px;
		display: flex;
		align-items: center;
		border-radius: 3px;
		&:hover {
			background-color: lighten(white, 10%);
		}
	}
	.postUser {
		display: flex;
		gap: 5px;
		align-items: center;
		img {
			border-radius: 4px;
		}
		p {
			font-weight: 600;
			span {
				font-weight: 400;
			}
		}
	}
	.media {
		max-height: 200px;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 5px;
		border: 1px solid $heather;
		border-radius: 4px;
		gap: 5px;
		font-size: $fontSizeSm;
		img {
			border-radius: 4px;
		}
		a {
			width: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: pointer;
			text-decoration: none;
			color: $chetwodeBlue;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
