@use '@/app/styles/mixins' as *;
@use '@/app/styles/variables' as *;
@use '@/app/styles/breakpoints' as *;

.overlay {
	@include overlay();
}

.showModal,
.hideModal {
	position: fixed;
	max-width: 500px;
	min-width: 500px;
	border-radius: 4px;
	background-color: $white;
	color: $charade;
	transition: 300ms ease-in-out;
	opacity: 1;
	height: fit-content;
	border: 1px solid $heather;
	@include breakpoint(xs) {
		min-width: 100%;
		height: calc(100vh - 50px);
		top: 0;
	}
	.header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		background-color: darken($white, 5%);
		padding: 1rem;
		align-items: center;

		strong {
			font-size: 18px;
			font-weight: 500;
		}
		svg {
			cursor: pointer;
		}
	}
	.bodyContent {
		padding: 0rem 1rem;
	}
	.footer {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 10px;
		padding: 1rem;

		button {
			height: 45px;
			font-size: $fontSizeLg !important;
			font-weight: 600;
			flex: 1;
			outline: 1px solid $chetwodeBlue;
			background-color: lighten($chetwodeBlue, 5%);

			&:nth-of-type(1) {
				background-color: $white;
				color: $chetwodeBlue;
			}
			&:hover {
				background-color: lighten($chetwodeBlue, 5%);
				color: $white;
			}
		}
	}
}

.hideModal {
	transform: translateY(300px);
	opacity: 0;
}
