@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.navigationPanel {
	height: 100%;
	width: 284px;
	background-color: $darkerMystic;
	position: sticky;
	top: 0px;
	display: none;
	@include breakpoint(sm) {
		display: flex;
		height: 100vh;
		flex-direction: column;
	}
	@include breakpoint(xs) {
		display: flex;
		max-width: 54px;
		height: 100vh;
		padding: 0;
		padding-right: 7px;
	}
	.logo {
		height: 45px;
		display: flex;
		align-items: center;
		font-size: 22px;
		color: $charade;
		border-bottom: 1px solid $heather;
		padding: 0 15px;
		@include breakpoint(xs) {
			display: none;
		}
	}
	.links,
	.authLinks {
		display: flex;
		flex-direction: column;
		border-bottom: 1px solid $heather;
		padding: 1rem 15px;
		width: 100%;
		height: fit-content;
		@include breakpoint(xs) {
			padding-top: 55px;
			align-items: center;
			border-top: 1px solid $heather;
		}
		.link {
			padding: 15px 0;
			display: flex;
			gap: 10px;
			align-items: center;
			height: 48px;
			text-decoration: none;
			color: $charade;

			svg {
				font-size: 14px;
			}
			a {
				color: $charade;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: $charade;
				}
			}
			.value {
				@include breakpoint(xs) {
					display: none;
				}
			}
		}
	}

	.authLinks {
		border-bottom: 0;
		.logoutLink {
			@include breakpoint(xs) {
				padding-top: 0;
				span {
					display: none;
				}
			}
		}
	}
}
