@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.navigationPanel {
	height: calc(100vh - 45px);
	max-width: 320px;
	width: 320px;
	background-color: $dark;
	border-left: 1px solid $border;
	position: sticky;
	top: 45px;
	display: none;
	@include breakpoint(sm) {
		display: flex;
	}
	@include breakpoint(xs) {
		display: none;
	}
	.links {
		display: flex;
		flex-direction: column;
		padding: 10px 1rem;
		.link {
			padding: 20px 0;
			display: flex;
			gap: 10px;
			align-items: center;

			svg {
				font-size: 16px;
			}
			a {
				color: lightgray;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: $light;
				}
			}
		}
	}
}
