@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.navigationPanel {
	height: 100%;
	width: 284px;
	background-color: $darkerMystic;
	position: sticky;
	top: 0px;
	display: none;
	@include breakpoint(sm) {
		display: flex;
		background-color: red;
	}
	@include breakpoint(xs) {
		display: none;
	}
	.links {
		display: flex;
		flex-direction: column;
		padding: 10px 1rem;
		.link {
			padding: 10px 0;
			display: flex;
			gap: 10px;
			align-items: center;

			svg {
				font-size: 16px;
			}
			a {
				color: $charade;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
					color: $charade;
				}
			}
		}
	}
}
