@use '../../../styles/variables' as *;

.loading {
	background: rgba(255, 255, 0, 0.1);
	border: 1px solid rgba(255, 255, 0, 0.5);
	color: #ffd700;
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 10px;
	border-radius: 4px;
}

.matchup {
	.header {
		display: flex;
		padding: 1rem 0;
		.status {
			width: 200px;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: $fontSizeSm;
			height: 100px;
			.location {
				display: flex;
				margin-top: auto;
				gap: 10px;
				align-items: center;
				.venue {
					display: flex;
					flex-direction: column;
					font-size: $fontSizeXs;
				}
			}
		}
		.leftTeam,
		.rightTeam {
			flex: 1;
			.displayName {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 10px;
				strong {
					font-size: $fontSizeMd;
				}
			}
		}
	}
	.odds {
		padding: 15px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 2rem;
		.columnHeaders {
			display: flex;
			height: 30px;
			align-items: center;
			justify-content: flex-end;
			gap: 1rem;
			font-size: $fontSizeXs;
			span {
				width: 74px;
				display: flex;
				justify-content: center;
			}
		}
		.rows {
			display: flex;
			flex-direction: column;
			gap: 10px;
			.displayName {
				flex-grow: 1;
				display: flex;
				align-items: center;
				gap: 10px;
			}
			.row {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 1rem;
				span {
					width: 74px;
					outline: 1px solid $border;
					display: flex;
					justify-content: center;
					border-radius: 22px;
					padding: 7px;
					font-size: $fontSizeMd;
					font-weight: 600;
				}
			}
		}
	}
	.noOddsMessage {
		background: rgba(223, 64, 90, 0.1);
		border: 1px solid rgba(223, 64, 90, 0.5);
		color: #df405a;
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 10px;
		border-radius: 4px;
		margin-top: 1rem;
	}
	.breakdown {
		padding: 15px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		margin-bottom: 2rem;
		strong {
		}
		.description {
			font-size: $fontSizeSm;
			background: rgba(144, 166, 223, 0.1);
			border: 1px solid rgba(144, 166, 223, 0.5);
			color: #90a6df;
			padding: 10px;
			border-radius: 4px;
			text-align: center;
			margin: 1rem 0;
		}
		.chart {
			display: flex;
			gap: 10px;
			align-items: center;
			.bar {
				flex: 1;
				display: flex;
				border-radius: 22px;
				overflow: hidden;
				height: 20px;
				.leftPercent {
					background-color: $accent;
					height: 100%;
				}
				.rightPercent {
					background-color: darken($accent, 10%);
					height: 100%;
				}
			}
			.leftTeamBreakdown,
			.rightTeamBreakdown {
				display: flex;
				flex-direction: column;
				align-items: center;
				span {
					font-size: $fontSizeSm;
				}
			}
		}
	}
}
