@use '@/app/styles/variables' as *;
@use '@/app/styles/breakpoints' as *;

.sportsBookGames {
	border: 1px solid $heather;
	border-top: 0;
	border-bottom: 0;
	min-height: calc(100vh - 4rem - 1px);
}

.header {
	text-transform: uppercase;
	padding: 1rem;
	font-size: 20px;
}

.dates {
	display: flex;
	gap: 10px;
	padding: 10px 1rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid $heather;

	span,
	.activeDate {
		border: 1px solid $heather;
		padding: 10px 14px;
		border-radius: 22px;
		font-size: $fontSizeSm;
		cursor: pointer;
		transition: all 200ms ease-in-out;

		&:hover {
			background-color: darken($white, 5%);
			color: $charade;
		}
	}
	.activeDate {
		background-color: darken($white, 5%);
		color: $charade;
	}
}

.feed {
	display: flex;
	flex-flow: row wrap;
	flex: 1;
	@include breakpoint(xs) {
		flex-flow: column;
	}
}
