@use '@/app/styles/variables' as *;

.postCardComment {
	border-bottom: 1px solid $heather;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 15px;
	.header {
		display: flex;
		gap: 15px;
		.avatar {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.line {
				width: 1px;
				background-color: $heather;
				height: 15px;
			}
		}
		.displayName {
			display: flex;
			flex-direction: column;
			gap: 3px;
			padding-top: 15px;
			strong {
				font-weight: 500;
				font-size: $fontSizeLg;
			}
			span {
				font-weight: 500;
				color: $lightText;
				font-size: $fontSizeMd;
			}
		}
	}
	.body {
		margin-left: 55px;
		font-size: $fontSizeLg;
		font-weight: 500;
		padding-bottom: 15px;
		p {
			a {
				color: $chetwodeBlue;
				cursor: pointer;
				text-decoration: none;
				span {
					position: relative;
					left: 0px;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	.footer {
		padding-bottom: 1rem;
	}
}
